<div class="myNavbar">
    <a>
        <img src="/assets/icon.PNG" class="logo"/>
    </a>
    &nbsp;
    <a routerLink="/">
        Saraswati Online Judge
    </a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/ide">ide</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/problems">problems</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/set-problem">set problem</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/profile/{{username}}">{{username}}</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/auth/logout">logout</a>
</div>
